{% extends "base.html" %}

{% block title %}
    {{ other_user["username"] }}
{% endblock %}


{% block content %}

<h1>
    {{ other_user["username"] }}
</h1>


<div
    id="chat-box"

    data-conversation-id="{{ conversation_id }}"

    data-user-id="{{ session['user_id'] }}"
>


    {% for message in messages %}

        <div
            class="message"

            data-message-id="{{ message['id'] }}"

            data-sender-id="{{ message['sender_id'] }}"
        >

            <strong>
                {{ message["sender"] }}
            </strong>


            <p>
                {{ message["content"] }}
            </p>


            <small>
                {{ message["created_at"] }}
            </small>


            {% if message["sender_id"] == session["user_id"] %}

                <span class="message-status">

                    {% if message["is_read"] %}
                        ✓✓
                    {% else %}
                        ✓
                    {% endif %}

                </span>

            {% endif %}

        </div>

    {% endfor %}


</div>


<form id="message-form">

    <input
        type="text"

        id="message-input"

        placeholder="Write a message..."

        autocomplete="off"

        required
    >


    <button type="submit">
        Send
    </button>

</form>


<script
    src="https://cdn.socket.io/4.7.5/socket.io.min.js"
></script>


<script
    src="{{ url_for('static', filename='chat.js') }}"
></script>


{% endblock %}