{% extends 'base.html' %}


{% block content %}
    <h1>Posts</h1>

    {% if posts %}
        {% for post in posts %}
            <article>
                <h2>
                    <a href="{{ url_for('post_detail', post_id=post['id']) }}">
                        {{ post['title'] }}
                    </a>
                </h2>
                <small>{{ post['created_at'] }}</small>
                <p>{{ post['content'][:200] }}...</p>
            </article>
            <hr>
        {% endfor %}
    {% else %}
        <p>There no post! <a href="{{ url_for('add_post') }}">Create first post</a></p>
    {% endif %}
{% endblock %}