{% extends 'base.html' %}

{% block title %}{{user["username"]}}{% endblock %}

{% block content %}

    <h1>{{user["username"]}} Profile</h1>
    {% if session["user_id"]!=user["id"] %}
    {% if is_following %}
    <form action="{{ url_for('unfollow', username=user['username']) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">Unfollow</button>
    </form>
    {% else %}
    <form action="{{ url_for('follow', username=user['username']) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit">Follow</button>
    </form>
    {% endif %}
    {% endif %}
    <details>
    <summary>Following: {{ following_count }}</summary>

    {% for person in following %}
        <div>
            <a href="{{ url_for('profile', username=person['username']) }}">
                {{ person['username'] }}
            </a>
        </div>
    {% endfor %}
    </details>
    <details>
    <summary>Followers: {{ followers_count }}</summary>
    {% for person in followers %}
        <div>
            <a href="{{ url_for('profile', username=person['username']) }}">
                {{ person['username'] }}
            </a>
        </div>
    {% endfor %}
    </details>
    <p>Posts: {{ posts|length }}</p>
    {% for post in posts %}
    <article>
       <a href="{{ url_for('post_detail', post_id=post['id']) }}">
    <h2>{{ post["title"] }}</h2>
    </a>
        <p>{{post["content"][0:51]}}</p>
    </article>
    {% endfor %}
{% endblock %}
